guitarplay/__pycache__/
guitarplay/modelpy/__pycache__/
guitarplay/modelpy/guitar/__pycache__/
guitarplay/modelpy/arenas/__pycache__/
logs/
guitarplay/modelpy/hands/__pycache__/
guitarplay/music/__pycache__/
guitarplay/suite/__pycache__/
guitarplay/suite/algorithm/__pycache__/
guitarplay/suite/tasks/__pycache__/
result*/
guitarplay/envs/__pycache__/
guitarplay/example.egg-info/
guitarplay/example/envs/__pycache__/
__pycache__/
tmp/
.vscode/
*result/
result*
to_q.py
goalstate*